body,div,figure,figcaption,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,menu,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

#main {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 320px;
  text-align: center;
}

#title {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
}

#content {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

#links {
  margin-top: 25px;
}

.row {
  width: 300px;
  margin-left: 10px;
  text-align: justify;
}

.row:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 85px;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  #main {
    width: 100%;
  }
  #title {
    font-size: 3em;
  }
}
